{% extends "service_scan.html" %}
{% block panelbody %}
    <div class="panel-heading" style="font-size: medium">
        <span class="col-md-offset-4"><span class="glyphicon glyphicon-screenshot"></span> 主机漏洞扫描</span>
        <div class="pull-right col-md-4 col-md-push-1">
            <div class=" dropdown col-md-offset-2 col-md-4">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    查看历史结果 <b class="caret"></b>
                </button>
                <ul class="dropdown-menu" style="height: 200px; overflow-y: auto">
                    {% for i in task_list %}
                        <li>
                            <a href="/scan/vuln/?id={{ i.id }}">第{{ forloop.counter }}次({{ i.ip_range }}))</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <button type="button" class="btn btn-default"
                        onclick="window.history.go(-1)">
                    返回
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-md-offset-1"><strong>扫描ip范围</strong></div>
            <div class="col-md-7 input-group">
                <input class="form-control m-auto" name="ip" id="ip" value="{{ new_ip }}"/>
                <input type="hidden" name="type" id="port" value="{{ type }}">
                <div class="input-group-btn drop-down" style="">
                    <button type="button" class="btn btn-default dropdown-toggle port-range" onclick="$()"
                            data-toggle="dropdown">漏洞类型<span style="margin-left: 3px"><b
                            class="caret"></b></span></button>
                    <ul class="dropdown-menu">
                        {% for i in poc_type_list %}
                        <li><a href="javascript:void(0)" class="ip-list" id="{{ forloop.counter0 }}">{{ i }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)" class="ip-list" id="-1">全部漏洞</a></li>
                    </ul>

                    <button type="button" class="btn btn-danger" onclick="test()"
                            style="margin-left: 50px; border-radius: 5px;">
                        开始扫描
                    </button>
                </div>
            </div>
        </div>
        <h5 class="page-header" style="margin: 5px; border-width: 2px"></h5>
        <div class="table table-hover" style="display:
                {% if not task.id %}none{% endif %}">
            <div class="col-md-12 text-info active-ip target-div history-ip" style="margin: 5px">
                <div class="pull-left">
                    <span class="glyphicon glyphicon-time"></span>
                    扫描 <span class="target-ip">{{ task.ip_range }}</span> 结果
                </div>
                <div class=" pull-right extend">
                    <button class="btn btn-danger btn-sm"
                            onclick="repeat()">
                        重新扫描
                    </button>
                    <button class="btn btn-primary btn-sm"
                            onclick="window.location.href='/scan/service/?id={{ task.id }}'">
                        查看服务
                    </button>
                    <button class="btn btn-success btn-sm"
                            onclick="window.location.href='/scan/export/?mode=vuln&id={{ task.id }}'">
                        导出表格
                    </button>
                </div>
            </div>
            <div class="col-md-12 text-info unactive-ip target-div scan-ip" style="margin: 5px">
                <div class="pull-left ">
                    <span class="glyphicon glyphicon-refresh"></span>
                    正在扫描 <span class="target-ip">{{ task.ip_range }}</span> ...
                    <span class="port=scan label label-primary label-port mode" style="display: none"> 端口扫描中...</span>
                    <span class="port=scan label label-danger label-vuln mode" style="display: none"> 漏洞扫描中...</span>
                </div>
                <div class=" pull-right">
                    <div>
                        <a href="/scan/service/?id={{ task.id }}" class="extend-btn"><span
                                class=" glyphicon glyphicon-hand-right"></span> 查看服务</a>
                        <a href="" class="refresh"><span class="glyphicon glyphicon-repeat"></span> 刷新</a>
                        <a href="javascript:void(0)" class="stop" onclick="stop_process(task_id)"><span
                                class="glyphicon glyphicon-{% if isPause %}play{% else %}stop{% endif %}"
                                aria-hidden="true"></span> 停止</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="progress progress-striped ">
                    <div class="progress-bar " role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width: {{ process }}%;">
                        <span class="sr-only">{{ process }}% 完成</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="; overflow-x: unset;overflow-y: auto; height:470px">
                <table class="table table-hover result-table">
                    <thead>
                    <tr style=" background-color: #b8c8be">
                        <th class="col-md-1">序号</th>
                        <th class="col-md-3">IP</th>
                        <th class="col-md-3">服务</th>
                        <th class="col-md-4">漏洞</th>
                        <th class="col-md-1">查看</th>
                    </tr>
                    </thead>
                    <tbody class="table-context" class="context">
                    {% for i in result_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.ip }}</td>
                            <td>
                                {% for p in i.ports %}
                                    {% if p.title %}
                                        <label class="label label-default" data-toggle="popover"
                                               data-placement="auto right"
                                               data-title="Title: {{ p.title }}"
                                               data-content="Port: {{ p.port }}<br>Server: {{ p.server }}"
                                               data-html="true"><a href="javascript:void(0)"
                                                                   onclick="window.open('{{ p.url }}')"><span
                                                class="port">{{ p.port }}:</span> {{ p.title | truncatechars:10 }}
                                        </a></label>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for v in i.vulns %}
                                    {% if v.vulnerability %}
                                        <label class="label label-{{ v.risk }}" data-toggle="popover"
                                               data-placement="auto left"
                                               data-content="{{ v.description }}"
                                               data-html="true">
                                            <a href="javascript:void(0)" onclick="get_exp({{ v.id }})">
                                                <span style="color: gainsboro">{{ v.port }}:</span> {{ v.vulnerability }}
                                            </a>
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td><a href="#"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if pages|length > 1 %}
                <div class="text-center foot-block">
                    <ul class="pagination">
                        <li><a href="{{ page_url }}{{ page | add:notfirst }}">&laquo;</a></li>
                        {% for i in pages %}
                            {% if i != '...' %}
                                <li class="{% if i == page %}active{% endif %}"><a
                                        href="{{ page_url }}{{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li><span>...</span></li>
                            {% endif %}
                        {% endfor %}
                        <li><a href="{{ page_url }}{{ page | add:notlast }}">&raquo;</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="margin-top: 100px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:18px;">
                        <span style='font-size:18px; margin-top: 4px' class='glyphicon glyphicon-remove'></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="color: maroon"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="editForm" action="/scan/create/" method="post">
                        <div class="row">
                            <div class="form-inline " style="margin: 5px">
                                <div class="text-center">
                                    <div class="col-md-3  text-right">
                                        <label class="control-label" for="modal-ip">ip</label>
                                    </div>
                                    <div class="col-md-9 text-left ip_range">
                                        <input type="text" class="input-sm col-md-9" id="modal-ip" name="ip"
                                               disabled=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline " style="margin: 5px">
                                <div class="text-center">
                                    <div class="col-md-3  text-right">
                                        <label class="control-label" for="modal-vuln">漏洞</label>
                                    </div>
                                    <div class="col-md-9 text-left ip_range">
                                        <input type="text" class="input-sm col-md-9" id="modal-vuln" name="vuln"
                                               disabled=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="" style="margin: 5px">
                                <div class="text-center">
                                    <div class="col-md-3  text-right">
                                        <label class="control-label cmd" for="cmd">执行命令</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="col-md-9 input-sm" id="cmd" name="cmd"
                                               style="color: chocolate"/>
                                        <span class="glyphicon glyphicon-refresh cmd " style="display: none"></span>
                                        <button type="button" id="modal-btn" class="btn btn-sm btn-primary pull-right">
                                            执行
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row content" style="display: none">
                            <div class="form-inline" style="margin: 5px">
                                <div class="text-center">
                                    <div class="col-md-3  text-right">
                                        <label class="control-label" for="content">文件内容</label>
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <textarea class="col-md-12" id="content" name="content" rows="10"
                                                  style="resize: none"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="">
                            <div class="form-inline" style="margin: 5px">
                                <div class="text-center">
                                    <div class="col-md-3  text-right">
                                        <label class="control-label" for="output">输出内容</label>
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <textarea class="col-md-12" id="output" name="output" rows="10"
                                                  style="resize: none"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer" style="margin: 10px; border: none">
                        {#                        <button type="submit" class="btn btn-danger" data-dismiss="modal">确定</button>#}
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
{% endblock %}
{% block servicebody %}
{% endblock %}
{% block scriptbody %}
    <script>
        $("#cmd").keypress(function (event) {  /*绑定回车事件*/
            if (event.which === 13)
                $("#modal-btn").click()
            })

        function get_exp(id) {
            $.get("/json/exp/", data = {
                    id: id
                },
                function (data) {
                    data = $.parseJSON(data)
                    $(".modal-title").text(data[1] + " - exp")
                    $("#modal-ip").val(data[0])
                    $("#modal-vuln").val(data[1])
                    $("label.cmd").text(data[2])
                    if (data[2] === "上传文件") {
                        $(".content").css("display", "")
                        $("#output").attr("rows", "2")
                    } else {
                        $(".content").css("display", "none")
                        $("#output").attr("rows", "10")
                    }
                    $("#editModal").modal("show")
                    $("#modal-btn").click(function () {
                        exec_exp(id)
                    })
                })
        }

        function exec_exp(id) {
            $(".cmd.glyphicon-refresh").css("display", "")
            $(".cmd.glyphicon-refresh").css("animation", "spin 1.5s linear infinite")
            $.get("/scan/exp/", {
                id: id,
                cmd: $("#cmd").val(),
                content: $("#content").val()
            }, function (data) {
                $("#output").val(data)
                $(".cmd.glyphicon-refresh").css("animation", "")
                $(".cmd.glyphicon-refresh").css("display", "none")
            })
        }

        $("#editModal").on('hidden.bs.modal', function () {
            $("#modal-btn").unbind("click")
        })

        function refresh_process() {
            $.getJSON("/json/refresh/", {
                    "count": result_count, "task_id": task_id, "mode": "service",
                },
                function (data) {
                    if (data["process"] === 1) {
                        animate_ico()
                        vuln_test()
                        return true
                    } else {
                        setTimeout("refresh_process()", 3000)
                    }
                })
        }

        function refresh_table() {
            $.getJSON("/json/refresh/", {
                    "count": result_count, "task_id": task_id, "mode": "{{mode}}",
                },
                function (data) {
                    $(".result-table").append(data["html"])
                    result_count = data["count"]
                    reload_process((+data["process"]))
                    $("[data-toggle='popover']").hover(function () {
                        $(this).popover('show')
                    }, function () {
                        $(this).popover('hide')
                    })
                    $("[data-toggle='popover']").on('show.bs.popover', function () {
                        $("[data-toggle='popover']").not(this).popover("hide")
                    })
                    if ($(".progress-bar").width() === $(".progress").width()) {
                        $(".extend").html("<button class=\"btn btn-danger btn-sm\"\n" +
                            "onclick=\"repeat()\"> 重新扫描 </button>" +
                            "                               <button class=\"btn btn-primary btn-sm\"" +
                            "                                        onclick=\"window.location.href='/scan/service/?id=" + task_id + "'\">查看服务</button>" +
                            "                                <button class=\"btn btn-success btn-sm\"\n" +
                            "                                        onclick=\"window.location.href='/scan/export/?mode=vuln&id=" + task_id + "'\">\n" +
                            "                                    导出表格\n" +
                            "                                </button>")
                        scan_over()
                        return true
                    } else if (isPause) {
                        return true
                    } else {
                        setTimeout("refresh_table()", 5000)
                    }
                })
        }

        function switch_mode(mode) {
            $(".label-" + mode).css("display", "")
            $(".label-" + mode).siblings(".mode").css("display", "none")
        }

        $(".refresh").hover(
            function () {
                $(".glyphicon-repeat").css("animation", "spin 2s linear infinite")
            },
            function () {
                $(".glyphicon-repeat").css("animation", "")
            }
        )

        function vuln_test() {
            result_count = 0
            $("tbody").html("")
            switch_mode("vuln")
            $.get("/scan/start/", {
                "id": task_id,
                "mode": "{{ mode }}",
                "type": $("#port").val()
            })
            setTimeout("refresh_table()", 1000)
        }

        function test() {
            $.get("/json/id/", function (data) {
                task_id = (+data)
                $.get("/scan/start/", {
                    "ips": $("#ip").val(),
                    "mode": "service",
                    "port": "0",
                    "start": "true",
                    "description": "{{ description }}"
                }, function () {
                    refresh_process()
                })
                $(".extend-btn").attr("href", "/scan/service/?id=" + task_id)
                $(".foot-block").html("")
                $(".refresh").attr("href", "/scan/vuln/?id=" + task_id)
                scan()
                switch_mode("port")
            })
        }

        function repeat() {
            reload_process(0)
            $.get("/scan/repeat/", {
                id: task_id
            }, function () {
                animate_ico(false)
                vuln_test()
            })
        }


        $(function () {
            task_id =
                {{ task.id }}
                $("[data-toggle='popover']").on('show.bs.popover', function () {
                    $("[data-toggle='popover']").not(this).popover("hide")
                })
            isPause = {% if isPause %}true{% else %}false{% endif %}
            result_count =
                {{ count }}
                {% if not task.isStart or task.vuln_count == 0 %}
                    animate_ico(isPause)
                    switch_mode("port")
                    refresh_process()
                {% else %}
                    {% if process != 100 %}
                        animate_ico(isPause)
                        switch_mode("vuln")
                        {% if not isPause %}
                            refresh_table()
                        {% else %}
                            scan_over()
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% if new_ip %}
                test()
            {% endif %}
        })

    </script>
{% endblock %}